/Data/archive/test/angry/*
/Data/archive/test/disgusted/*
/Data/archive/test/fearful/*
/Data/archive/test/happy/*
/Data/archive/test/neutral/*
/Data/archive/test/sad/*
/Data/archive/test/surprised/*
/Data/archive/archive.zip

/Data/archive/train/angry/*
/Data/archive/train/disgusted/*
/Data/archive/train/fearful/*
/Data/archive/train/happy/*
/Data/archive/train/neutral/*
/Data/archive/train/sad/*
/Data/archive/train/surprised/*

/Data/audio/RAW/angry/*.mp3
/Data/audio/RAW/disgusted/*.mp3
/Data/audio/RAW/fearful/*.mp3
/Data/audio/RAW/happy/*.mp3
/Data/audio/RAW/neutral/*.mp3
/Data/audio/RAW/sad/*.mp3
/Data/audio/RAW/surprised/*.mp3

/Data/audio/Processed/angry/*.mp3
/Data/audio/Processed/disgusted/*.mp3
/Data/audio/Processed/fearful/*.mp3
/Data/audio/Processed/happy/*.mp3
/Data/audio/Processed/neutral/*.mp3
/Data/audio/Processed/sad/*.mp3
/Data/audio/Processed/surprised/*.mp3