/Data/archive/test/angry/*.png
/Data/archive/test/disgusted/*.png
/Data/archive/test/fearful/*.png
/Data/archive/test/happy/*.png
/Data/archive/test/neutral/*.png
/Data/archive/test/sad/*.png
/Data/archive/test/surprised/*.png
/Data/archive/archive.zip

/Data/archive/train/angry/*.png
/Data/archive/train/disgusted/*.png
/Data/archive/train/fearful/*.png
/Data/archive/train/happy/*.png
/Data/archive/train/neutral/*.png
/Data/archive/train/sad/*.png
/Data/archive/train/surprised/*.png

/Data/audio/RAW/angry/*.mp3
/Data/audio/RAW/disgusted/*.mp3
/Data/audio/RAW/fearful/*.mp3
/Data/audio/RAW/happy/*.mp3
/Data/audio/RAW/neutral/*.mp3
/Data/audio/RAW/sad/*.mp3
/Data/audio/RAW/surprised/*.mp3

/Data/audio/Processed/angry/*.png
/Data/audio/Processed/disgusted/*.png
/Data/audio/Processed/fearful/*.png
/Data/audio/Processed/happy/*.png
/Data/audio/Processed/neutral/*.png
/Data/audio/Processed/sad/*.png
/Data/audio/Processed/surprised/*.png

/Songs/*.mp3

/__pycache__
/Model_Training/__pycache__
song_embeddings.json